@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Life+Savers:wght@400;700;800&display=swap");
.main {
  display: block;
  background: #0097b2;
  min-height: 400px;
  height: auto;
  width: auto;
  padding: 10px 0;
}

.timeline {
  display: flex;
  align-items: center;
}
.completed {
  background-color: #00d36a;
  color: white;
  padding: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10px;
}

.phase {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.stepperItem {
  display: flex;
  align-items: center;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.activeBullet {
  background-color: #0097b2; /* Your active color */
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
}

.phaseTitle {
  margin-left: 10px;
}

.horizontalslidertimeline {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.arrowBtn {
  padding: 10px 20px;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrowBtn:hover {
  color: #333;
}
.phasecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.phase {
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.phase.active {
  font-weight: bold;
  font-size: xx-large;
}

.timelinelinewrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.timelinelinewrapper .timeline-line {
  border-top: 2px solid #333;
}

.card {
  width: 50rem;
  padding: 20px;
  background-color: #02869d !important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2px 18px 18px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 18px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 22px 18px -8px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.939);
  margin-bottom: 3rem;
}
.card:hover {
  transform: perspective(2000px) translateY(-2%) rotateX(5deg) translateZ(0);
  box-shadow: 2px 5px 22px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.cardtitle {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-left: 1rem;
  margin-bottom: 10px;
}

.carddescription {
  text-align: center;
  padding-left: 1rem;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}
.navigation {
  margin-top: 20px;
}

.prevbtn,
.nextbtn {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.cardAnimation {
  animation: fadeIn 0.5s ease;
}

.prevbtn:hover,
.nextbtn:hover {
  background-color: #333;
  color: #fff;
}

.cardImage img {
  width: auto;
  height: 20rem;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cardContent {
  padding: 10px 10px !important;
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.6;
  /* color: transparent; */
  color: white;
  user-select: none;
  font-family: "Lexend", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headingHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: 800;
  font-size: 70px;
  color: #fff;
  text-align: center;
  position: relative;
  font-family: "Lexend", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peterimg {
  display: flex;
  margin-bottom: 10%;
  margin-right: 2%;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 50px;
  }

  .peterimgs {
    width: 70%;
    height: 70%;
  }

  .cardContent {
    font-size: 20px;
  }

  .container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 990px) {
  .heading {
    font-size: 40px;
  }

  .cardContent {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .phase.active {
    font-size: 4rem !important;
  }

  .phaseTitle {
    font-size: 20px;
  }

  .timeline {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 20rem;
    flex-direction: column;
    margin: 0 !important;
  }
  .phasecontainer {
    flex-direction: column;
  }
  .cardImage img {
    width: auto;
    height: 10rem;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .cardContent {
    flex-direction: column;
  }

  .cardtitle {
    font-size: 2rem;
  }

  .heading {
    font-size: 40px !important;
  }

  .cardContent {
    font-size: 16px;
  }
}

@media screen and (max-width: 570px) {
  .heading {
    font-size: 20px;
  }

  .cardContent {
    font-size: 14px;
  }

  .peterimgs {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .peterimg {
    justify-content: center;
    align-items: center;
  }
}
