.menuToggle {
    display: block;
    position: relative;
    top: -104px;
    left: 90px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .menuToggle a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .menuToggle a:hover {
    color: tomato;
  }

  
  
  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  
  .menuToggle span {
    display: flex;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
  }
  
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    display: flex;
  }
  
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  .menu {
    position: absolute;
    top: 94px;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: rgba(0, 0, 0, 0.6);
    z-index: 999999;
    backdrop-filter: blur(5px);
  }
  
  .menu.active {
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
    
  }
  
  .menuToggle input:checked ~ ul {
    transform: none;
    
  }
  
  .Hamburger {
  position: absolute;
  right: 4%;
  top: 30%;
  cursor: pointer;
  
  }
  
  .logo {
    align-items: left;
    justify-content: left;
    display: flex;
    margin-bottom: 10px;
  }

  .navtext {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
  }

  .button {
    display: inline-block;
    background-color: #0097b2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 5px;
  }