@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Life+Savers:wght@400;700;800&display=swap");
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 680px;
  width: 100%;
  background: linear-gradient(to bottom, #28a4c880, #0097b2);
}

.content {
  flex: 0.7;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 70px;
}

.circleButton {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.main:hover .heading {
  text-shadow: 0 0 10px rgb(222, 69, 253), 0 0 20px #fff, 0 0 40px #fff;
  transition-duration: 0.5s;
}

.peter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ptext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
  border-radius: 10px;
  font-family: "Protest Riot", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-left: 40px;
}

.pdescription {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lexend", sans-serif !important; /* Apply Lexend font to the card content */
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 36px;
  margin-left: 90px;
}

@media screen and (max-width: 1200px) {
  .main {
    min-height: 500px;
    margin-top: 50px;
  }

  .content {
    width: 100%;
  }

  .peter {
    width: 40%;
  }

  .iconContainer {
    margin-left: 1px;
  }
}

@media screen and (max-width: 990px) {
  .main {
    background-size: 50%;
  }
}

@media screen and (max-width: 760px) {
  .peterlogo {
    height: 220px;
    width: 220px;
  }

  .main {
    min-height: 500px;
    flex-direction: column;
  }

  .content {
    flex: 1;
    margin-top: 50px;
  }

  .peter {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ptext {
    font-size: 3rem;
    margin-left: 20px;
  }

  .pdescription {
    font-size: 24px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 570px) {
  .ptext {
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .pdescription {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.button {
  display: inline-block;
  background-color: #ffffff;
  border: none;
  font-family: "Lexend", sans-serif !important; /* Apply Lexend font to the card content */
  font-weight: 300;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.305), 0 0 10px #fff, 0 0 20px #fff;
  box-shadow: 0 0 10px rgb(69, 232, 253), 0 0 10px #fff, 0 0 20px #fff;
  transition-duration: 0.5s;
}

.joinbutton {
  display: inline-block;
  background-color: transparent;
  border: 2px solid white;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Lexend", sans-serif !important; /* Apply Lexend font to the card content */
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.joinbutton:hover {
  text-shadow: 0 0 10px rgb(69, 232, 253), 0 0 10px #fff, 0 0 20px #fff;
  box-shadow: 0 0 10px rgb(69, 232, 253), 0 0 10px #fff, 0 0 20px #fff;
  transition-duration: 0.5s;
}
